#my-lessons {
    margin: auto;
    text-align: left;
}

.lesson {
    width: 100%;
    padding: 10px 0;
}

.profileHeader {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profileDetails {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
    padding: 0 0 40px 0;
    border-bottom: 1px solid var(--line-color);
}

.profileTitle {

}

.profileTitle h3 {
    margin: 0;
    text-align: left;
}

.profileBio {
    width: 60%;
    font-size: small;
}

.userNotFound {
    margin: 100px auto;
    text-align: center;
}