#my-lessons {
    margin: auto;
    text-align: left;
}

.lesson {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid var(--line-color);
}

.profileHeader {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 80px 0 0 0;
}

.profileTitleSpaceBetween {
    display: flex;
    justify-content: space-between;
}

.profileTitleCenter {
    display: flex;
    justify-content: center;
}

.profileBio {
    margin: 20px 0;
    font-size: small;
    padding: 20px;
    background: #2a2a2a;
    border: 1px solid var(--line-color);
    box-shadow: 0 5px 15px -5px #111111;
}
