#logup {
    position: relative;
    top: 50px;
    margin: auto;
    width: 400px;
    text-align: center;
}

#logup img {
    height: 80px;
}

#logup h5 {
    font-family: "Sansita Swashed", cursive;
}

.logup-title {
    margin: 70px 0 30px 0;
}

#logup-form {
    width: 100%;
    text-align: right;
}

.logup-row {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0 0 0;
}

.logup-label {
    min-width: 85px;
    padding: 0 15px 0 0;
}

.logup-input {
    min-width: 280px;
}

.validity-check {
    min-width: 30px;
    height: 30px;
}

.valid-input {
    margin: 5px;
    width: 20px;
    font-size: small;
    line-height: 20px;
    text-align: right;
    background-color: var(--high-color);
    border-radius: 100%;
}

#logup-form input, #logup-form label {
    width: 100%;
    height: 30px;
    font-family: var(--main-type);
}

.switch-logup {
    margin: 70px 0 0 0;
}

#about-me {
    height: 120px;
    font-family: var(--main-type);
}

.requirements {
    width: 370px;
    height: 20px;
    margin: 5px 30px 0 0;
    line-height: 10px;
    padding: 0 0 5px 0;
}
