.lesson {
    position: relative;
    width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
    padding: 5px 10px;
    background: var(--bars-color);
    border-radius: 5px;
}

html.light .lesson {
    border: var(--main-border);
}

.lesson span {
    margin: auto 15px auto auto;
}

.lesson p {
    padding: 10px;
    border-radius: 5px;
}

html.light .lesson p {
    background: #e2f2ff;
    border: var(--main-border);
    box-shadow: 0 0 3px -3px #000;
}

.lesson-date {
    display: block;
    color: var(--line-color);
}

.lesson-options, html.light .lesson-options {
    position: absolute;
    top: 5px;
    right: 5px;
    color: var(--line-color);
    transition: 0.5s;
}

.lesson-options:hover, html.light .lesson-options:hover {
    color: var(--fade-color);
}

button.lesson-options-list {
    z-index: 1000;
    position: relative; /* important! to be able to click on it! */
    top: 20px;
    padding: 5px;
    font-size: x-small;
    color: var(--line-color);
    background: var(--main-color);
    border-radius: 5px;
    transition: 0.5s;
}

button.lesson-options-list:hover {
    color: var(--fade-color);
}

.lesson-options svg {
    margin: 0 0 0 10px;
}

.lesson-share-modal {
    z-index: 101;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    width: 80vw;
    height: 50vh;
    margin: auto;
    top: 33vh;
    left: 0;
    right: 0;
    background: var(--main-color);
    border-radius: 5px;
    box-shadow: 0 5px 10px 10px var(--shadow-color);
}

.lesson-share-modal input {
    width: 100%;
    height: 30px;
    font-family: var(--main-type);
    text-align: center;
    color: var(--oppo-color);
    background: var(--bars-color);
    border: 0;
}

.modal-dark {
    background: rgba(0,0,0,0.3);
}

.lesson-modal-bg {
    z-index: 50;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.actionBar {
    margin: auto;
    font-size: small;
    color: var(--high-color);
}

.actionBar svg {
    padding: 0 20px 0 0;
}

@media screen and (min-width: 800px) {

    .lesson-date {
        display: inline;
    }

    .lesson-share-modal {
        width: 500px;
        height: 200px;
    }

}