header {
    z-index: 10;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: var(--bars-color);
}

.logo {
    text-align: center;
}

.logoImg {
    width: 60px;
    padding: 0 20px;
}

.logoImgLogup {
    width: 60px;
    padding: 2vh 0 0 0;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    text-align: center;
}

nav > div {
    margin: auto 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navText {
    padding: 5px 0 0 0;
    font-size: x-small;
}

.navTwo {
    display: flex;
    justify-content: space-between;
    height: 100%;
    font-size: small;
    text-align: right;
    line-height: 55px;
    cursor: pointer;
}

.navTwo button {
    cursor: pointer;
    margin: auto 10px;
    padding: 5px 7px;
    background: var(--fade-color);
}
