#create {
    margin: 80px auto 0 auto;
    width: 100%;
    padding-bottom: 30px;
    text-align: center;
    border-bottom: 1px solid  var(--line-color);
}

#create textarea {
    width: 100%;
    height: 100px;
    resize: none;
    padding: 8px;
    font-family: var(--main-type);
    border: 1px solid var(--high-color);
    border-radius: 5px;
    box-shadow: 0 5px 15px 1px #000;
}
