.sidebarRight {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 3vh;
    right: 20vw;
    width: 90vw;
    height: calc(100vh - 120px);
    max-width: 20vw;
}

.userList {
    margin: 0 0 6vh 0;
    box-sizing: border-box;
}

.userList h5 {
    margin: auto auto 10px auto;
}

.userListItem {
    display: flex;
    justify-content: space-between;
    font-size: small;
}

.userListUsername {
    line-height: 0;
}

.andMore {
    text-align: center;
}

@media screen and (min-width: 1000px) {
    .sidebarRight {
        display: flex;
        width: 16vw;
        right: 2vw;
    }
}

@media screen and (min-width: 1200px) {
    .sidebarRight {
        width: 14vw;
        right: 12vw;
    }
}
