.following {
    position: fixed;
    top: 3vh;
    right: 20vw;
    width: 90vw;
    max-width: 20vw;
    height: calc(100vh - 120px);
    margin: 0;
    box-sizing: border-box;
}

.followItem {
    display: flex;
    justify-content: space-between;
    font-size: small;
}

.followingUsername {
    line-height: 0;
}

.andMore {
    text-align: center;
}

@media screen and (min-width: 800px) {
    .following {
        width: 12vw;
        right: 2vw;
    }
}

@media screen and (min-width: 1200px) {
    .following {
        width: 12vw;
        right: 14vw;
    }
}
