@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&family=Slabo+13px&display=swap');

html {
  --main-color: #202020;
  --bars-color: #313131;
  --oppo-color: #FFFFFF;
  --high-color: #3CFFA1;
  --warn-color: #FF8E3C;
  --fade-color: #a5a5a5;
  --line-color: #535353;
  --main-type: "Slabo 13px", serif;
  margin: auto;
  font-family: var(--main-type);
  font-size: 18px;
  color: var(--oppo-color);
}

body {
  margin: 0;
  background: var(--main-color);
}

a {
  color: var(--high-color);
  text-decoration: none;
}

h1, h1, h3, h4, h5, h6 {
  text-align: center;
  margin: 1vh auto 3vh auto;
}

p {
  font-size: medium;
}

main {
  width: 90vw;
  margin: 20px auto auto auto;
}

.primary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.small {
  font-size: small;
}

.x-small {
  font-size: x-small;
}

.fade-text {
  color: var(--fade-color);
}

.center {
  text-align: center;
}

.check-length {
  width: 100%;
  text-align: right;
}

@media screen and (min-width: 800px) {
  main {
    width: 50vw;
  }
}

@media screen and (min-width: 1200px) {
  main {
    width: 40vw;
  }
}