@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&family=Slabo+13px&display=swap');

html {
  --main-color: #202020;
  --bars-color: #313131;
  --oppo-color: #FFFFFF;
  --high-color: #3CFFA1;
  --warn-color: #FF8E3C;
  --fade-color: #a5a5a5;
  --line-color: #535353;
  --main-type: "Slabo 13px", serif;
  margin: auto;
  font-family: var(--main-type);
  font-size: 18px;
  color: var(--oppo-color);
}

body {
  margin: 0;
  background: var(--main-color);
}

.logo {
  position: absolute;
  width: 60px;
  left: 0;
  right: 0;
  margin: 5px auto;
}

a {
  color: var(--high-color);
  text-decoration: none;
}

h1, h1, h3, h4, h5, h6 {
  text-align: center;
}

p {
  font-size: medium;
}

main {
  position: absolute;
  left: 0;
  right: 0;
  width: 600px;
  max-width: 50vw;
  min-height: calc(100vh - 100px);
  margin: auto;
}

.primary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.small {
  font-size: small;
}

.x-small {
  font-size: x-small;
}

.fade-text {
  color: var(--fade-color);
}

.check-length {
  width: 100%;
  text-align: right;
}
